.wrapper_usesr_page{
    width: 81%;
    height: auto;
    margin: 0 auto;

    .title_usesr_page {
        font-size: 44px;
        color: #696969;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .wrapper_user_card{
        display: flex;
        flex-direction: column;
        width: 100%;

        .wrapper_user_info {
            display: flex;
            margin-bottom: 30px;
            width: 30%;
            border: solid #696969;
            border-radius: 9px;
            border-width: 3px;
            padding: 10px;

        
        .wrapper_user_logo {
            width: 30%;
            border-radius: 50%;        
        }

        .text_info_user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        .title_name_user {
            font-size: 2em;
            margin-left: 20px;
        }
    }

    .wrapper_favorites_card {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title_favorites_card {
            font-size: 34px;
            color: #696969;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .wrapper_render_card{
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
        }
    }

    }
}