.wrapper_usesr_page {
  width: 81%;
  height: auto;
  margin: 0 auto;
}
.wrapper_usesr_page .title_usesr_page {
  font-size: 44px;
  color: #696969;
  font-weight: 600;
  margin-bottom: 30px;
}
.wrapper_usesr_page .wrapper_user_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  width: 30%;
  border: solid #696969;
  border-radius: 9px;
  border-width: 3px;
  padding: 10px;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_user_info .wrapper_user_logo {
  width: 30%;
  border-radius: 50%;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_user_info .text_info_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_user_info .title_name_user {
  font-size: 2em;
  margin-left: 20px;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_favorites_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_favorites_card .title_favorites_card {
  font-size: 34px;
  color: #696969;
  font-weight: 600;
  margin-bottom: 30px;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_favorites_card .wrapper_render_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}