@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 2000ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.page-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 500px) {
  .page-content {
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;

  width: 19%;
  top: 0;
  -webkit-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
  text-align: center;
  color: whitesmoke;
  background-color: black;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 260px;
    width: 175px;
    border-radius: 8px;
    background-color: black;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0deg, 0%, 0%, 0)), color-stop(11.7%, hsla(0deg, 0%, 0%, 0.023)), color-stop(22.1%, hsla(0deg, 0%, 0%, 0.054)), color-stop(31.2%, hsla(0deg, 0%, 0%, 0.092)), color-stop(39.4%, hsla(0deg, 0%, 0%, 0.173)), color-stop(46.6%, hsla(0deg, 0%, 0%, 0.232)), color-stop(53.1%, hsla(0deg, 0%, 0%, 0.299)), color-stop(58.9%, hsla(0deg, 0%, 0%, 0.34)), color-stop(64.3%, hsla(0deg, 0%, 0%, 0.414)), color-stop(69.3%, hsla(0deg, 0%, 0%, 0.478)), color-stop(74.1%, hsla(0deg, 0%, 0%, 0.54)), color-stop(78.8%, hsla(0deg, 0%, 0%, 0.607)), color-stop(83.6%, hsla(0deg, 0%, 0%, 0.668)), color-stop(88.7%, hsla(0deg, 0%, 0%, 0.721)), color-stop(94.1%, hsla(0deg, 0%, 0%, 0.762)), to(hsla(0deg, 0%, 0%, 0.79)));
  background-image: linear-gradient(to bottom, hsla(0deg, 0%, 0%, 0) 0%, hsla(0deg, 0%, 0%, 0.023) 11.7%, hsla(0deg, 0%, 0%, 0.054) 22.1%, hsla(0deg, 0%, 0%, 0.092) 31.2%, hsla(0deg, 0%, 0%, 0.173) 39.4%, hsla(0deg, 0%, 0%, 0.232) 46.6%, hsla(0deg, 0%, 0%, 0.299) 53.1%, hsla(0deg, 0%, 0%, 0.34) 58.9%, hsla(0deg, 0%, 0%, 0.414) 64.3%, hsla(0deg, 0%, 0%, 0.478) 69.3%, hsla(0deg, 0%, 0%, 0.54) 74.1%, hsla(0deg, 0%, 0%, 0.607) 78.8%, hsla(0deg, 0%, 0%, 0.668) 83.6%, hsla(0deg, 0%, 0%, 0.721) 88.7%, hsla(0deg, 0%, 0%, 0.762) 94.1%, hsla(0deg, 0%, 0%, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}
.card:hover {
  top: -7px;
}

.poster {
  position: absolute;
  left: 0;
  top: 0;
}

.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}
.content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-size: 1rem;
  line-height: 1.35;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-family: "Source Sans Pro";
}

.btn_watch {
  font-family: "Source Sans Pro";
  cursor: pointer;
  padding: 0.75rem 1.2rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #66FCF1;
  border-radius: 5px 5px;
  background-color: #272727;
  border: none;
}
.btn_watch:hover {
  background-color: #0d0d0d;
}
.btn_watch:focus {
  outline: 1px #66FCF1;
  outline-offset: 3px;
}

.btn_favorit {
  font-family: "Source Sans Pro";
  cursor: pointer;
  margin-left: 10px;
  padding: rem rem;
  width: 37px;
  height: 37px;
  background: url(./../../../image/icons_favorite.png) no-repeat;
  background-size: 60%;
  background-position: center;
  border-radius: 5px 5px;
  background-color: #272727;
  border: none;
  border-width: 3rem;
}
.btn_favorit:hover {
  background-color: #0d0d0d;
}
.btn_favorit:focus {
  outline: 1px #66FCF1;
  outline-offset: 3px;
}

.btn_favorit_on {
  cursor: pointer;
  margin-left: 10px;
  padding: rem rem;
  width: 37px;
  height: 37px;
  background: url(./../../../image/icons_favorite_on.png) no-repeat;
  background-size: 60%;
  background-position: center;
  border-radius: 5px 5px;
  background-color: #F0EBDF;
  border: none;
  border-width: 3rem;
}
.btn_favorit_on:hover {
  background-color: #0d0d0d;
}
.btn_favorit_on:focus {
  outline: 1px #66FCF1;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }
  .card:hover,
.card:focus-within {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }
  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}