@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

$imageIds: '1517021897933-0e0319cfbc28', '1533903345306-15d1c30952de', '1545243424-0ce743321e11', '1531306728370-e2ebd9d7bb99';

$bp-s: 599px;
$bp-md: 500px;
$bp-lg: 800px;

:root {
  --d: 2000ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
  

  @media (max-width: $bp-s) {
    grid-template-columns: repeat(1, 1fr);
    background-color: blueviolet;
  }
  @media (min-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {  
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  width: 19%;
  top: 0;
  transition: top 0.2s ease-out;
  text-align: center;
  color: whitesmoke;
  background-color: black;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
    
  @media (min-width: $bp-md) {
    height: 260px;
    width: 175px;
    border-radius: 8px;
    background-color: black;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.023) 11.7%,
      hsla(0, 0%, 0%, 0.054) 22.1%,
      hsla(0, 0%, 0%, 0.092) 31.2%,
      hsla(0, 0%, 0%, 0.173) 39.4%,
      hsla(0, 0%, 0%, 0.232) 46.6%,
      hsla(0, 0%, 0%, 0.299) 53.1%,
      hsla(0, 0%, 0%, 0.340) 58.9%,
      hsla(0, 0%, 0%, 0.414) 64.3%,
      hsla(0, 0%, 0%, 0.478) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }

  &:hover {
    top: -7px;
  }
}

.poster {
    position: absolute;
    left: 0;
    top: 0;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
  
  > * + * {
    margin-top: 1rem;
  }

  & div {
    display: flex;
  }
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-size: 1rem;
  line-height: 1.35;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-family: 'Source Sans Pro'
}

.btn_watch {
  font-family: 'Source Sans Pro';
  cursor: pointer;
  padding: 0.75rem 1.2rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #66FCF1;
  border-radius: 5px 5px;
  background-color: #272727;
  border: none;
  
  &:hover {
    background-color: lighten(black, 5%);
  }
  
  &:focus {
    outline: 1px #66FCF1;
    outline-offset: 3px;
  }
}

.btn_favorit {
  font-family: "Source Sans Pro";
    cursor: pointer;
    margin-left: 10px;
    padding: rem rem;
    width: 37px;
    height: 37px;
    background: url(./../../../image/icons_favorite.png) no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 5px 5px;
    background-color: #272727;
    border: none;
    border-width: 3rem;
  
  &:hover {
    background-color: lighten(black, 5%);
  }
  
  &:focus {
    outline: 1px #66FCF1;
    outline-offset: 3px;
  }
}

.btn_favorit_on {
  cursor: pointer;
    margin-left: 10px;
    padding: rem rem;
    width: 37px;
    height: 37px;
    background: url(./../../../image/icons_favorite_on.png) no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 5px 5px;
    background-color: #F0EBDF;
    border: none;
    border-width: 3rem;
  
  &:hover {
    background-color: lighten(black, 5%);
  }
  
  &:focus {
    outline: 1px #66FCF1;
    outline-offset: 3px;
  }
}

@media (hover: hover) and (min-width: $bp-md) {
  .card:after {
    transform: translateY(0);
  }
  
  .content {
    transform: translateY(calc(100% - 4.5rem));
    
    > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition:
        transform var(--d) var(--e),
        opacity var(--d) var(--e);
    }
  }
  
  .card:hover,
  .card:focus-within {
    align-items: center;

    &:before { transform: translateY(-4%); }
    &:after { transform: translateY(-50%); }

    .content {
      transform: translateY(0);

      > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
      }
    }
  }
  
  .card:focus-within {
    &:before,
    &:after,
    .content,
    .content > *:not(.title) {
      transition-duration: 0s;
    }
  }
}