.wrapper_moveList {
  width: 81%;
  height: auto;
  margin: 0 auto;
}
.wrapper_moveList .title_all_move {
  font-size: 44px;
  color: #696969;
  font-weight: 600;
  margin-bottom: 2px;
}
.wrapper_moveList .wrapper_posters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
}