
.wrapper_moveList {
    width: 81%;
    height: auto;
    margin: 0 auto;

    .title_all_move {
        font-size: 44px;
        color: #696969;
        font-weight: 600;
        margin-bottom: 2px;
    }

    .spiner {
        margin-top: 10vh;
    }

    .wrapper_posters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 15px;
    }
}