.wrapper_footer {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    height: 180px;

    .wrapper_logo {
        display: flex;
        align-items: center;
    } 

    .label_app {
        font-family: 'Caveat Brush', cursive;
        color: #F0EBDF;
        font-size: 40px
    }

    .logo_app {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    } 

}