.wrapper_move_page {
  width: 81%;
  height: auto;
  margin: 0 auto;
}
.wrapper_move_page .title_move_page {
  font-size: 44px;
  color: #696969;
  font-weight: 600;
  margin-bottom: 30px;
}
.wrapper_move_page .wrapper_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-family: "Source Sans Pro";
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper_move_page .wrapper_content .wrapper_movie_logo {
  border-radius: 10px 10px;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  gap: 30px;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .wrapper_title_movie {
  font-size: 32px;
  font-weight: 600;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .wrapper_description_movie {
  font-size: 20px;
  width: 70%;
  line-height: 1.5em;
  font-weight: 400;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .wrapper_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .btn_move_page {
  font-family: "Source Sans Pro";
  cursor: pointer;
  padding: 0.75rem 0.6rem;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #272727;
  border-radius: 5px 5px;
  background-color: #F0EBDF;
  border: none;
  width: 147px;
  height: 45px;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .btn_move_page:hover {
  background-color: #0d0d0d;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .btn_move_page:focus {
  outline: 1px #66FCF1;
  outline-offset: 3px;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .favorites {
  font-family: "Source Sans Pro";
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  width: 48px;
  height: 48px;
  background: url(./../../../image/icons_favorite_on.png) no-repeat;
  background-size: 60%;
  background-position: center;
  border-radius: 25px 25px;
  background-color: #F0EBDF;
  border: none;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .favorites:hover {
  background-color: #0d0d0d;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .favorites:focus {
  outline: 1px #66FCF1;
  outline-offset: 3px;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .favorites_on {
  font-family: "Source Sans Pro";
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  width: 48px;
  height: 48px;
  background: url(./../../../image/icons_favorite.png) no-repeat;
  background-size: 60%;
  background-position: center;
  border-radius: 25px 25px;
  background-color: black;
  border: none;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .favorites_on:hover {
  background-color: #0d0d0d;
}
.wrapper_move_page .wrapper_content .wrapper_movie_text .favorites_on:focus {
  outline: 1px #66FCF1;
  outline-offset: 3px;
}
.wrapper_move_page .wrapper_content .wrapper_video {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 74%;
  left: 22%;
}