.wrapper_list_error {
  width: 81%;
  height: auto;
  margin: 0 auto;
}
.wrapper_list_error .title_error {
  font-size: 44px;
  color: #696969;
  font-weight: 600;
  margin-bottom: 2px;
}
.wrapper_list_error .wrapper_error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper_list_error .title_front_dropped {
  font-size: 2rem;
}
.wrapper_list_error .front_dropped {
  width: 30%;
  height: 30%;
}