
.wrapper_list_error {
    width: 81%;
    height: auto;
    margin: 0 auto;

    .title_error {
        font-size: 44px;
        color: #696969;
        font-weight: 600;
        margin-bottom: 2px;
    }

    .wrapper_error {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .title_front_dropped{
        font-size: 2rem;
    }

    .front_dropped {
        width: 30%;
        height: 30%;
    }
}